<h2><ng-content></ng-content></h2>
<!-- <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/countries" routerLinkActive="active">Countries</a>
    <a routerLink="/lifecycle" routerLinkActive="active">Lifecycle</a>
</nav> -->

<button on-click="doIncrease()">Increase Child Component</button>
<button on-click="doDecrease()">Decrease Child Component</button>
<!-- <country-app [curCountry]="_countries[0]"></country-app>
 -->
 <encapsulation-emulated></encapsulation-emulated>
 <encapsulation-native></encapsulation-native>
 <encapsulation-none></encapsulation-none>