<h2><ng-content></ng-content></h2>
<h4 class="head-title">Form</h4>

<!-- <h2>Sign up</h2>
<form (ngSubmit)="register()" [ngFormModel]="userForm">
  <div>
    <label>Username</label><input ngControl="username">
  </div>
  <div>
    <label>Password</label><input type="password" ngControl="password">
  </div>
  <button type="submit">Register</button>
</form> -->

<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid}"> 
        <label>First Name:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="John" [formControl]="complexForm.controls['firstName']">
    </div>
    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid}">
        <label>Last Name</label>
        <input class="form-control" type="text" placeholder="Doe" [formControl]="complexForm.controls['lastName']">
    </div>
    <button type="submit" [disabled]="!complexForm.valid">Register</button>
</form>